{%extends "base.html"%}


{% block title %}
<title>Real-time Emotion Detection</title>
{% endblock title %}
{%block main%}

<style>
#video_container{
    display:inline-block;
    width:640px;
    height:480px;
    margin: 0 auto;
    background: black;
    position:relative;
    border:5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333}

#canvas{
    position:relative;
    z-index:20;
}
<!--    video{-->
<!--        width: 50%;-->
<!--        height: 50%;-->
<!--        margin: 50px auto;-->
<!--        background-color: aquamarine;-->
<!--        display: block;-->
<!--    }-->



</style>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Real-time Prediction</h3>
            <hr>
            <div style="visibility: hidden;  width:0; height:0;">
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
            <div id="video_container">
                <video id="videoElement" width="640" height="480" autoplay style="position:absolute;z-index:1;"></video>
                <img id="target" style="display: inline; position:absolute;z-index:1;" width="640" height="480" alt=""
                     src="#"/>
            </div>

            <script>
        var video = document.querySelector("#videoElement");
        var canvas = $("#canvas");
        var ctx = canvas.get()[0].getContext('2d');

        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }

        timer = setInterval(
            function () {
                ctx.drawImage(video, 0, 0, 640, 480);
                var data = canvas.get()[0].toDataURL('image/jpeg', 1.0);
                var newblob = dataURItoBlob(data);

                var FR= new FileReader();
                        FR.addEventListener("load", function(e) {
                            var img_split =e.target.result.split(",");
                            var base64_img = img_split[1];
                            console.log(img_split[0]);
                            // construct an HTTP request
                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/predict_img_only_api", true);
                            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

                            // send the collected data as JSON
                            xhr.send(JSON.stringify({"image":base64_img}));

                            xhr.onloadend = function () {
                                var result = JSON.parse(xhr.response);
                                // now you can access it's params:
                                console.log(result);
                                if (result["found"] == true){
                                    document.getElementById("target").src =  img_split[0].concat(",",result["image"]);
                                }else{
                                    document.getElementById("target").src =  e.target.result;
                                }

                            };
                        });
                FR.readAsDataURL(newblob);
            }, 500);


        function dataURItoBlob(dataURI) {
          // convert base64 to raw binary data held in a string
          // doesn't handle URLEncoded DataURIs - see SO answer #6850276 for code that does this
          var byteString = atob(dataURI.split(',')[1]);

          // separate out the mime component
          var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

          // write the bytes of the string to an ArrayBuffer
          var ab = new ArrayBuffer(byteString.length);

          // create a view into the buffer
          var ia = new Uint8Array(ab);

          // set the bytes of the buffer to the correct values
          for (var i = 0; i < byteString.length; i++) {
              ia[i] = byteString.charCodeAt(i);
          }

          // write the ArrayBuffer to a blob, and you're done
          var blob = new Blob([ab], {type: mimeString});
          return blob;

        }


            </script>
            <!--        <video id="video" autoplay style="width: 50%;height: 50%"></video>-->

            <!--        <script>-->
            <!--            var video = document.getElementById('video');-->


            <!--            if (navigator.mediaDevices.getUserMedia) {-->
            <!--                //The newest API-->
            <!--                navigator.mediaDevices.getUserMedia({video : {width: 1000, height: 1000}}).then(success).catch(error);-->
            <!--            } else if (navigator.webkitGetUserMedia) {-->
            <!--                //webkit core browser-->
            <!--                navigator.webkitGetUserMedia({video : {width: 1000, height: 1000}},success, error)-->
            <!--            } else if (navigator.mozGetUserMedia) {-->
            <!--                //firfox browser-->
            <!--                navigator.mozGetUserMedia({video : {width: 1000, height: 1000}}, success, error);-->
            <!--            } else if (navigator.getUserMedia) {-->
            <!--                //Old API-->
            <!--                navigator.getUserMedia({video : {width: 1000, height: 1000}}, success, error);-->
            <!--            }-->

            <!--            function success(stream) {-->
            <!--                //兼容webkit核心浏览器-->
            <!--                // let CompatibleURL = window.URL || window.webkitURL;-->

            <!--                //将视频流设置为video元素的源-->
            <!--                console.log(stream);-->

            <!--                //video.src = CompatibleURL.createObjectURL(stream);-->
            <!--                video.srcObject = stream;-->
            <!--                video.play();-->
            <!--            }-->

            <!--            function error(error) {-->
            <!--                console.log(`Error${error.name}, ${error.message}`);-->
            <!--            }-->

            <!--        </script>-->

        </div>
    </div>

</div>

{%endblock main%}


