{%extends "base.html"%}

{% block title %}
<title>Real-time Emotion Detection</title>
{% endblock title %}
{%block main%}

<style>
#video_container{
    display:inline-block;
    width:640px;
    height:480px;
    margin: 0 auto;
    background: black;
    position:relative;
    border:5px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 50px #333}

#canvas{
    position:relative;
    z-index:20;
}

</style>

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Real-time Prediction</h3>
            <hr>
            <div style="visibility: hidden;  width:0; height:0;">
                <canvas id="canvas" width="640" height="480"></canvas>
            </div>
            <div id="video_container">
                <video id="videoElement" width="640" height="480" autoplay style="position:absolute;z-index:1;"></video>
                <img id="target" style="display: inline; position:absolute;z-index:1;" width="640" height="480" alt=""
                     src="#"/>
            </div>
            <script>
            var video = document.querySelector("#videoElement");
            var canvas = $("#canvas");
            var ctx = canvas.get()[0].getContext('2d');

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices
                    .getUserMedia({ video: true })
                    .then(function (stream) {video.srcObject = stream;})
                    .catch(function (err0r) {
                        console.log("Something went wrong!");
                    });
            }

            timer = setInterval(
                function () {
                    ctx.drawImage(video, 0, 0, 640, 480);
                    var data = canvas.get()[0].toDataURL('image/jpeg', 1.0);
                    var newblob = dataURItoBlob(data);

                    var FR= new FileReader();
                        FR.addEventListener("load", function(e) {
                            var img_split =e.target.result.split(",");
                            var base64_img = img_split[1];

                            var xhr = new XMLHttpRequest();
                            xhr.open("POST", "/predict_img_only_api", true);
                            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
                            xhr.send(JSON.stringify({"image":base64_img}));

                            xhr.onloadend = function () {
                                var result = JSON.parse(xhr.response);
                                if (result["found"] == true)
                                    document.getElementById("target").src =  img_split[0].concat(",",result["image"]);
                                else
                                    document.getElementById("target").src =  e.target.result;
                            };
                        });
                    FR.readAsDataURL(newblob);
                }, 500
             );

            function dataURItoBlob(dataURI) {
              var byteString = atob(dataURI.split(',')[1]);
              var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]
              var ab = new ArrayBuffer(byteString.length);
              var ia = new Uint8Array(ab);
              for (var i = 0; i < byteString.length; i++)
                  ia[i] = byteString.charCodeAt(i);
              var blob = new Blob([ab], {type: mimeString});
              return blob;
            }
            </script>
        </div>
    </div>
</div>
{%endblock main%}