{%extends "base.html"%}

{% block title %}
<title>CNN Face Emotion Detection</title>
<style type="text/css">
        body{
            background-repeat: no-repeat;
            {#background-image: url(/static/img/7.png);#}
            background-color: #F0F0F0;
            background-size:cover;
            font-size: 16px;}
        .form{
            background-color: rgba(255, 255, 255, 0.2);
            width:400px;margin:100px auto;}
        .container{
            {#background-color: #F0F0F0;#}
            height: 750px;
            width: 1200px;
            margin-top: 50px;}
        img{
            width: 150px;
            height: 180px;
            margin-right: 30px;
        }
        li{
            margin-top: 10px;
            margin-bottom: 20px;
            margin-right: 0px;
            margin-left: 0px;
        }

</style>
{% endblock title %}

{%block main%}
    <div class="container" style="width: 1170px">
        <h3>Welcome {{ session.get('email') }}! <br></h3>
        <hr>
        Human emotion detection is the process of identifying human emotions from a picture. On this website, you can upload an image and we will first use a face detection algorithm to determine if there is a face(s) present or not and if there is, make a one of 7 emotion predictions: Angry, Happy, Sad, Neutral, Disgust, Surprise and Fear as well as a percentage indicating how certain the algorithm is on the prediction. The predictions are made with convolutional neural networks (CNN) which is currently the state of the art in image processing. The three models that are used are Inception-ResNetV1, MobileNet and Yolo3 and each having an accuracy of 69%, 67% and 48% respectively. In comparison, humans have an accuracy of 68 +- 5% when it comes to emotion prediction from faces.
        <hr>
        You can go to the
        <a href="{{ url_for('upload') }}"> Upload</a>
        page to start predicting images or try to the real time predicting system by going to the
        <a href="{{ url_for('camera') }}"> Camera</a>
        page. Finally, you can see a history of all your previous predictions in the
        <a href="{{ url_for('history') }}"> History</a>
        page.
        <hr>
        Have fun predicting!
        <hr>

        <div id="butong_net_left" style="overflow:hidden;width: 1170px;height: 200px">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td id="butong_net_left1" valign="top" align="center">
                        <table cellpadding="2" cellspacing="0" border="0">
                            <tr align="center">
                                <td><img src="../static/img/happy.png"></td>
                                <td><img src="../static/img/neutral.png"></td>
                                <td><img src="../static/img/angry.png"></td>
                                <td><img src="../static/img/surprise.png"></td>
                                <td><img src="../static/img/fear.png"></td>
                                <td><img src="../static/img/sad.png"></td>
                                <td><img src="../static/img/disgust.png"></td>
                            </tr>
                        </table>
                    </td>
                    <td id="butong_net_left2" valign="top"></td>
                </tr>
            </table>
        </div>

        <script>
            window.onload=function(){
                var oDiv  =  document.getElementById('butong_net_left');
                var speed=10
                butong_net_left2.innerHTML=butong_net_left1.innerHTML
                function Marquee3(){
                    if(butong_net_left2.offsetWidth-butong_net_left.scrollLeft<=0)
                        butong_net_left.scrollLeft-=butong_net_left1.offsetWidth
                    else{
                        butong_net_left.scrollLeft++
                    }
                }
                var MyMar3 = setInterval(Marquee3,speed)
                oDiv.onmouseover = function(){
                    clearInterval(MyMar3);
                }
                oDiv.onmouseout = function () {
                    MyMar3 = setInterval(Marquee3,speed)
                }
            }

        </script>

    </div>

{%endblock main%}