{%extends "base.html"%}


{% block title %}
<title>CNN Face Emotion Detection</title>
    <style type="text/css">
        h3{
            font-size: 20px;
            display : inline
        }
        body{
            background-repeat: no-repeat;
            {#background-image: url(/static/img/7.png);#}
            background-color: #F0F0F0;
            background-size:cover;
            font-size: 16px;}
        .form{
            background-color: rgba(255, 255, 255, 0.2);
            width:400px;margin:100px auto;}
        .container{
            {#background-color: #F0F0F0;#}
            height: 750px;
            width: 1200px;
            margin-top: 30px;}
        li{
            margin-top: 10px;
            margin-bottom: 20px;
            margin-right: 0px;
            margin-left: 0px;
        }
        .first{
            width: 40%;
            float: left;
            margin-right: 10%;
        }
        .second{
            width: 50%;
            float: left;
            {#border: 1px solid #3B6273;#}
        }
        .form{
            background-color: rgba(255, 255, 255, 0.2);
            width:400px;margin:100px auto;}
        #mainContainer {
            height:100%;
            width:100%;
        }
        #header {
            height:10%;
            width:100%;
        }
        #center {
            height:570px;
            width:100%;
            margin-top: 20px;
            border-bottom:1px solid #7B7B7B;
        }
        #footer {
            height: 10%;
            width: 100%;
        }
        .file-preview{
            height: 350px;
        }
        .file-drop-zone{
            height: 310px;
        }


</style>
{% endblock title %}

{%block main%}

    <div class="container" style="width: 1170px">

        <div id="center">
            <h3 style="margin-right: 10px">Please select a model: </h3>
            <input type="radio" id="inception-resnet" name="model_radio" value="inception-resnet" checked>
            <label for="inception-resnet" style="margin-right: 10px">inception-resnet</label>
            <input type="radio" id="mobilenetv2" name="model_radio" value="mobilenetv2">
            <label for="mobilenetv2" style="margin-right: 10px">mobilenetv2</label>
            <input type="radio" id="yolo3" name="model_radio" value="yolo3">
            <label for="yolo3">yolo3</label>
            <hr style="margin-top: 10px; margin-bottom: 10px">

            <div class="first">
                <h3>Please select an image</h3>
                <hr>
                <form onsubmit="callPredictUploadAPI()" id="myAnchor">
                    <input id="input2" name="input2" type="file" class="file" multiple="false" accept="image/*">
                </form>
                <hr>
            </div>

            <div class="second">
                <h3>Result</h3>
                <hr>
                <p id="result_str"></p>
                <img src="#" id="full_img" width="585" height="389" alt="">
            </div>
        </div>

        <div id="footer">
            <HR color=black>
            <ol id="face_list"></ol>
        </div>

    </div>

    <script>
    document.getElementById("myAnchor").addEventListener("submit", function(event){
        event.preventDefault()
    });

    function callPredictUploadAPI() {
        document.getElementById("face_list").innerHTML = "";
        document.getElementById("full_img").src="";
        document.getElementById("result_str").innerHTML = "Please wait while your image is being processed..."

        let photo = document.getElementById("input2").files[0];

        var FR= new FileReader();
        FR.addEventListener("load", function(e) {
            var img_split = e.target.result.split(",");
            var base64_img = img_split[1];

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/predict_upload_api", true);
            xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

            var model = document.querySelector('input[name="model_radio"]:checked').value;
            xhr.send(JSON.stringify({"image":base64_img, "img_name": photo.name, "model":model}));

            xhr.onloadend = function () {
                var result = JSON.parse(xhr.response);
                if (result["found"] == true){
                    document.getElementById("result_str").innerHTML = "Face(s) detected! Scroll down to see more details.";
                    document.getElementById("full_img").src =  img_split[0].concat(",",result["image"]);
                    face_list = result["faces"]
                    for(i = 0; i < face_list.length; i++){
                        var node = document.createElement("LI");
                        var img_node = document.createElement('img');
                        var json_face = result["faces"][i];
                        if(model.localeCompare("yolo3") == 0)
                            var emotion_text = "  Emotion score: ";
                        else
                            var emotion_text = "  Emotion Probabilities: ";
                        img_node.src = img_split[0].concat(",",json_face["face"]);
                        emotion_predictions = json_face["prediction"];

                        for (j = 0; j < emotion_predictions.length; j++)
                            emotion_text = emotion_text.concat(emotion_predictions[j]["emotion"], ": ", emotion_predictions[j]["probability"], ", ");
                        emotion_text = emotion_text.slice(0, -2);
                        var textnode = document.createTextNode(emotion_text);
                        node.appendChild(img_node);
                        node.appendChild(textnode);
                        document.getElementById("face_list").appendChild(node);
                    }
                }else
                    document.getElementById("result_str").innerHTML = "No face detected, try another image";
            };
        });
        FR.readAsDataURL(photo);
    }
    </script>

{%endblock main%}