absl-py==0.9.0
astor==0.8.1
Click==7.0
DateTime==4.3
dominate==2.4.0
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gast==0.2.2
gcloud==0.17.0
google-pasta==0.1.8
googleapis-common-protos==1.51.0
grpcio==1.26.0
h5py==2.10.0
httplib2==0.17.0
itsdangerous==1.1.0
Jinja2==2.10.3
jws==0.1.3
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mtcnn==0.1.0
numpy==1.18.1
oauth2client==3.0.0
opencv-python==4.2.0.32
opt-einsum==3.1.0
protobuf==3.11.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.4.3
Pyrebase==3.0.27
python-jwt==2.0.1
pytz==2019.3
PyYAML==5.3
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
scipy==1.4.1
six==1.14.0
SQLAlchemy==1.3.13
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
uWSGI==2.0.18
visitor==0.1.3
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
zope.interface==4.7.1
